/* 标签选择器 */
body{
    background-color: aqua;
}
/* 类选择器 */
.button {
    border: 1px solid white;
    text-align: center;
    padding: 10px 30px;
    margin: 40px 50px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-weight: bold;
}

.title{
    text-align: center;
    color: red;
}
/* id选择器 */
#content{
    margin: 20px;
}